// color
$dark-color-100: #1e1e20;
$dark-color-200: #3f3f41;
$dark-color-300: #5d5d60;
$light-color-100: #a09e9d;
$light-color-200: #f0eeed;
$accent-color-000: #D56443;
$accent-color-100: #ff7b54;
$accent-color-200: #ff9576;
$danger-color-100: #ea5455;
$danger-color-200: #ee7677;
$sucess-color-100: #03c988;

// spacing
$spacing-100: 8px;
$spacing-200: 12px;
$spacing-300: 16px;
$spacing-400: 20px;
$spacing-500: 24px;
$spacing-600: 32px;
$spacing-700: 40px;
$spacing-800: 80px;

// heading
$heading-100: 3.563rem;
$heading-200: 2.938rem;
$heading-300: 2.438rem;
$heading-400: 2.063rem;
$heading-500: 1.688rem;
$heading-600: 1.438rem;

// paragraph
$paragraph-large: 1.188rem;
$paragraph-regular: 1rem;
$paragraph-small: 0.813rem;

// radius
$radius-100: 10px;
$radius-200: 15px;

// box-shadow
$shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
